.card {
  margin-top: 20px;
}

img {
  max-width: 340px;
  margin: 30px auto 0;
}

.product-availability {
  display: flex;
  justify-content: center;
}

.status {
  margin-right: 5px;
}

.product-quantity {
  text-align: center;
  position: relative;
  top: -5px;
}
