.wrapper {
  border: 1px solid #4CAF50;
  border-radius: 10px;
  width: 65%;
  padding: 15px;
  margin: 10% auto 0;
}

.error-message {
  font-size: 0.9em;
  margin-left: 42px;
}

.invalid-data {
  margin-bottom: 20px;
}
