<li class="collection-item" appHover>
  <div class="row">
    <div class="col sm6">
      {{ index + 1 }}.
      <b>{{ item.name }}</b> ({{ quantity }}) item(s)

      <div class="row">
        <div class="input-field col s6">
          Change quantity:
          <input
            #input
            type="number"
            class="validate"
            placeholder="1"
            min="0"
            [value]="quantity"
            (input)="onUpdateQuantity(item, input.value)"
          />
          {{ item.price | currency }} <br />
        </div>
      </div>
    </div>

    <div class="col sm6 cart-img">
      <img [src]="item.photo" [alt]="item.name" />
    </div>

    <a class="btn-floating waves-effect waves-light red">
      <i (click)="onRemove(item)" class="material-icons">close</i>
    </a>
  </div>
</li>
