<div *ngIf="items.size === 0; else showItems" class="center row">
  <h5 class="blue-text">Cart is empty!</h5>
</div>

<ng-template #showItems>
  <div class="center cart-summary">
    <h5>Items: {{ summary.count }}</h5>
    <h5>Total: {{ summary.totalPrice | currency }}</h5>
  </div>
  <div class="row cart-list-wrapper">
    <app-cart-item
      *ngFor="let item of (items | orderBy: 'name':false | keyvalue); let idx = index"
      [item]="item"
      [index]="idx"
      (updateQuantity)="onUpdateQuantity($event)"
      (remove)="onRemove($event)"
    ></app-cart-item>
  </div>
  <div class="center">
    <a class="waves-effect waves-light btn-small center">Proceed to checkout</a>
  </div>
</ng-template>
